@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 225 7% 12%;
    --primary: 232 79% 59%;
    --primary-foreground: 231 65% 51%;
    --secondary: 210 5% 85.9%;
    --secondary-foreground: 192 3% 61%;
    --muted: 210 5% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --border: 192 3% 90%;
    --input: 192 3% 90%;
    --ring: 232 79% 59%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  *::selection {
    background-color: hsl(var(--muted-foreground));
    color: hsl(var(--background));
  }

  body {
    @apply bg-background text-foreground;
  }

  /* Firefox */
  * {
    scrollbar-color: hsl(var(--secondary-foreground)) hsl(var(--secondary));
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background-color: hsl(var(--secondary));
  }

  *::-webkit-scrollbar-thumb {
    background-color: hsl(var(--secondary-foreground));
    border-radius: 9999px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--secondary));
  }
}

@layer utilities {
  .transition-in-expo {
    transition-timing-function: cubic-bezier(0.1, 0, 0.3, 1);
  }
}
